<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/img/weather.png">
        <title>About</title>
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>This site is created by Tony Amir. It uses data from mapbox.com and weatherstack.com.</p>
        <img class="portrait" src="/img/download.jpg">

        </div>
       
        {{>footer}}
    </body>
</html>
